div.tooltip {
    position: absolute;
    text-align: center;
    width: 60px;
    height: 28px;
    padding: 3px;
    font: 12px sans-serif;
    background: rgba(0, 0, 0, 0.7);
    border: 0px;
    pointer-events: none;
}

.leftAxis {
    color: steelblue;
    font-size: 0.7em;
    stroke-width: 1.5;
}

.bottomAxis {
    color: steelblue;
    font-size: 0.7em;
    stroke-width: 1.5;
}

.rightAxis {
    color: rgba(0, 0, 0, 0.2);
    stroke-width: 1.5;
}

circle {
    stroke: white;
    stroke-width: 2;
    fill: steelblue;
}

.circle2 {
    fill: rgba(255, 0, 0, 0.3);
}

.circle3 {
    fill: rgba(255, 165, 0, 0.3);
}

.circle4 {
    fill: rgba(238, 130, 238, 0.3);
}

.circle5 {
    fill: rgba(0, 128, 128, 0.3);
}

.circle6 {
    fill: rgba(64, 224, 208, 0.3);
}

.line-path {
    fill: none;
    stroke: steelblue;
    stroke-width: 3;
}

.line-path2 {
    fill: none;
    stroke: rgba(255, 0, 0, 0.3);
    stroke-width: 2;
}

.line-path3 {
    fill: none;
    stroke: rgba(255, 165, 0, 0.3);
    stroke-width: 2;
}

.line-path4 {
    fill: none;
    stroke: rgba(238, 130, 238, 0.3);
    stroke-width: 2;
}

.line-path5 {
    fill: none;
    stroke: rgba(0, 128, 128, 0.3);
    stroke-width: 2;
}

.line-path6 {
    fill: none;
    stroke: rgba(64, 224, 208, 0.3);
    stroke-width: 2;
}

text {
    font-size: 1.4em;
}