/* Scatter plot */
/* Location of categories */
.scatterButtonsInvisible {
    display: none !important;
}

/* Style of the categories */
.scatter-menu-button {
    color: #fff;
    opacity: .3;
    text-decoration: none;
    transition: all 100ms ease-in;
    border-bottom: 2px solid transparent;
    position: relative;
}

/* Style of the categories on hover */
.scatter-menu-button:hover {
    text-decoration: none;
    opacity: 1;
}

/* Style of the active category */
.scatter-menu-button.active {
    text-decoration: none;
    opacity: 1;
    text-shadow: 0 0 .65px #333, 0 0 .65px #333;
    color: #ffffff;
    background-color: transparent;
}

/* Dropdown visible on category hover */
.scatter-menu-button:hover .category-tooltip {
    opacity: 1;
    visibility: visible;
}

/* nav dropdown */
.category-tooltip {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    left: 0;
    top: 40px;
    background-color: #000000;
    border-color: #ffffff;
    border-width: 1px;
    border-radius: 5px;
    padding: 10px;
    color: #ffffff;
    z-index: 9999;
    text-transform: initial;
    min-width: 150px;
    transition: all 150ms ease-in;
    /* font-size: .8rem; */
}

/* Outer traingle of pointer */
.category-tooltip:before {
    content: '';
    width: 0;
    height: 0;
    position: absolute;
    border-right: 12px solid transparent;
    border-left: 12px solid transparent;
    border-bottom: 12px solid #ffffff;
    left: 2%;
    top: -13px;
}

/* Inner traingle of pointer */
.category-tooltip:after {
    content: '';
    width: 0;
    height: 0;
    position: absolute;
    border-right: 12px solid transparent;
    border-left: 12px solid transparent;
    border-bottom: 12px solid #000000;
    left: 2%;
    top: -12px;
}

.country-circle:hover {
    stroke: #000000;
}