@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    color: #f5f5f5;
    background: rgb(14, 25, 49);
    font-family: 'Open Sans', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Manrope', sans-serif;
    font-weight: 800;
}

p.header-text {
    font-family: 'Manrope', sans-serif;
}

canvas {
    display: block;
    max-width: 100%;
    /* fix necessary to remove space at bottom of canvas */
}

.line {
    fill: none;
    stroke: #ffab00;
    stroke-width: 3;
}

.overlay {
    fill: none;
    pointer-events: all;
}

  /* Location of categories */
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  /* Right margin of the categories */
  .header__btn-group {
    margin-right: 2rem;
  }
  
  /* Style of the categories */ 
  .header-graph__btn {
    color: #ffffff;
    text-transform: uppercase;
    text-decoration: none;
    transition: all 100ms ease-in;
    border-bottom: 2px solid transparent;
    position: relative;
    
  }
  
  /* Style of the categories on hover */ 
  .header-graph__btn:hover {
    border-bottom: 2px solid #ffffff;
    text-decoration: none;
    color: #ffffff;
  }
  
  /* Style of the active category */ 
  .header-graph__btn.active {
    border-bottom: 2px solid #ffffff;
    text-decoration: none;
    text-shadow: 0 0 .65px #333, 0 0 .65px #333;
    color: #ffffff;
  }

  /* Dropdown visible on category hover */
  .header-graph__btn:hover .nav__dropdown {
    opacity: 1;
    visibility: visible;
  }
  
  /* nav dropdown */
  .nav__dropdown {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    left: 0;
    top: 40px;
    background-color: #000000;
    border-color: #ffffff;
    border-width: 1px;
    border-radius: 5px;
    padding: 10px;
    color: #ffffff;
    z-index: 9999;
    text-transform: initial;
    min-width: 150px;
    transition: all 150ms ease-in;
    /* font-size: .8rem; */
  }

  .nav__dropdown:before {
    content: '';
    width: 0;
    height: 0;
    position: absolute;
    border-right: 12px solid transparent;
    border-left: 12px solid transparent;
    border-bottom: 12px solid #ffffff;
    left: 2%;
    top: -13px;
  }

  .nav__dropdown:after {
    content: '';
    width: 0;
    height: 0;
    position: absolute;
    border-right: 12px solid transparent;
    border-left: 12px solid transparent;
    border-bottom: 12px solid #000000;
    left: 2%;
    top: -12px;
  }


  