<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Interactive World Happiness Visualization</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <script src="<%= htmlWebpackPlugin.files.js[0] %>"></script>
    <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
    <link
        href="https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600&family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600;1,700&display=swap"
        rel="stylesheet">
</head>

<body class="bg-gray-900 h-screen">
    <div id="loader" class="absolute w-full h-full bg-gray-900 z-20">
        <div class="h-full flex flex-col justify-center items-center z-10">
            <h2 class="text-center animate-bounce">Loading...</h2>
            <h1 class="text-4xl text-center animate-bounce">Interactive World Happiness Report Visualization</h1>
            <i class="ri-loader-4-line animate-spin z-10"></i>
        </div>
    </div>
    <div id="countryInfoBar" class="absolute top-0 z-10 m-5">
        <p class="text-xs font-normal">Selected country:</p>
        <h1 id="hoveredCountry" class="text-2xl">No country selected</h1>
    </div>
    <div id="visualizationSelectBar" class="absolute w-full flex justify-center z-10">
        <ul class='flex cursor-pointer'>
            <li id="barChartToggle"
                class='mx-2 py-2 px-6 bg-black bg-opacity-30 rounded-b-lg text-gray-600 bg-gray-200 hover:bg-white hover:bg-opacity-10 transition-all'>
                <i class="ri-bar-chart-2-fill"></i>
            </li>
            <li id="scatterPlotToggle"
                class='flex items-center mx-2 py-2 px-6 bg-black bg-opacity-30 rounded-b-lg text-gray-600 bg-gray-200 hover:bg-white hover:bg-opacity-10 transition-all'>
                <i class="ri-bubble-chart-fill"></i>
            </li>
            <li id="lineGraphToggle"
                class='mx-2 py-2 px-6 bg-black bg-opacity-30 rounded-b-lg text-gray-600 bg-gray-200 hover:bg-white hover:bg-opacity-10 transition-all'>
                <i class="ri-line-chart-fill"></i>
            </li>

        </ul>
    </div>
    <div id="toolbar" class="relative float-right flex flex-col z-10">
        <div id="options-block" class="m-5 p-5 flex flex-col justify-end bg-black bg-opacity-30 rounded-lg ">
            <p class="font-bold">Options</p>
            <hr class="my-1 opacity-25">
            <p class="text-xs font-normal">Rendering options</p>
            <div id="countryHover">
                <input type="checkbox" id="countryHoverToggle" class="cursor-pointer" name="countryHoverToggle">
                <label for="countryHoverToggle" class="cursor-pointer"> Enable country hover
                    <span class="font-light">(ctrl
                        h)</span></label><br>
            </div>
            <hr class="my-1 opacity-25">
            <p class="text-xs font-normal">Postprocessing options</p>
            <div id="outlineMode">
                <input type="checkbox" id="clusteringToggle" class="cursor-pointer" name="clusteringToggle">
                <label for="clusteringToggle" class="cursor-pointer"> Enable outline mode <span class="font-light">(ctrl
                        o)</span></label><br>
            </div>
            <div id="filmMode">
                <input type="checkbox" id="filmToggle" class="cursor-pointer" name="filmToggle" checked>
                <label for="filmToggle" class="cursor-pointer"> Enable film processing <span class="font-light">(ctrl
                        k)</span></label><br>
            </div>
            <hr class="my-1 opacity-25">
            <p class="text-xs font-normal">General options</p>
            <div id="selectCountry">
                <p>- Select country <span class="font-light">(double click)</span></p>
            </div>
            <div id="removeSelectedCountry">
                <p>- Deselect country <span class="font-light">(right click)</span></p>
            </div>
            <div id="search">
                <p>- Search <span class="font-light">(ctrl
                        f)</span></p>
            </div>

        </div>
        <div id="searchBlock" class="m-5 mt-0 flex flex-col justify-end">
            <div class="relative text-gray-600">
                <input class=" bg-white bg-opacity-10 w-full h-10 px-5 pr-16 rounded-lg text-sm focus:outline-none"
                    id="searchCountry" type="text" name="searchCountry" placeholder="Search countries"
                    autocomplete="off">
                <div type="submit" class="absolute right-0 top-0 mt-2 mr-4">
                    <i class="ri-search-line"></i>
                </div>
            </div>
            <div id="searchMatches" class="relative flex justify-end mt-2">
                <div id="searchMatch"
                    class="relative flex items-center mb-2 bg-black bg-opacity-30 hover:bg-opacity-60 hover:text-grey-600 transition-all w-3/4 h-10 px-5 pr-16 rounded-lg text-sm cursor-pointer">
                    <p id="searchMatchCountry"></p>
                    <div class="absolute right-0 top-0 mt-2.5 mr-4">
                        <i class="ri-arrow-right-line"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="timelineBar" class="fixed w-full bottom-10 flex flex-col justify-center text-center z-10">
        <div id="timeline" class="flex justify-start mx-5 w-1/4 ">
            <div class="rangeContainer w-full ">
                <ul class="range-label-list">
                    <li class="range-label">2015</li>
                    <li class="range-label">2016</li>
                    <li class="range-label">2017</li>
                    <li class="range-label">2018</li>
                    <li class="range-label">2019</li>
                    <li class="range-label">2020</li>
                </ul>
                <div class="rangeSlider">
                    <input id="yearSlider" type="range" min="2015" max="2020" step="1">
                </div>


            </div>
        </div>

    </div>

    <div id="infoBar" class="fixed bottom-0 w-full flex flex-col z-10">
        <div id="data-info" class="float-right flex flex-row justify-end px-1.5">
            <p>Selected year: <span id="yearText">2018</span> </span> - <span id="showDataset"
                    class="cursor-pointer">Open
                    dataset</span></p>
        </div>
        <div id="general-info" class="bg-black bg-opacity-30 flex flex-row-reverse items-end  px-1.5">
            <p>January 2021</p>
            <p class="mr-4">World Happiness</p>
        </div>

    </div>

    <div class='header z-20' id='scatterButtons'>
        <div class='header__btn-group btn-group'>
            <a href='#' data-text='Economy (GDP per Capita)' class='btn-graphGdp header-graph__btn active'>Economy (GDP
                per Capita)
                <p class="nav__dropdown"><strong>Happiness</strong> x<br /><strong>Economy (GDP per Capita)</strong></p>
            </a>
            &nbsp;&nbsp;
            <a href='#' data-text='Trust (Government Corruption)' class='btn-graphSocialSupport header-graph__btn'>Trust
                (Government Corruption)
                <p class="nav__dropdown"><strong>Happiness</strong> x<br /><strong>Trust (Government
                        Corruption)</strong></p>
            </a>
            &nbsp;&nbsp;
            <a href='#' data-text='Freedom to make life choices' class='btn-graphFreedom header-graph__btn'>Freedom to
                make life choices
                <p class="nav__dropdown"><strong>Happiness</strong> x<br /><strong>Freedom to make life choices</strong>
                </p>
            </a>
            &nbsp;&nbsp;
            <a href='#' data-text='Generosity' class='btn-graphGenerosity header-graph__btn'>Generosity
                <p class="nav__dropdown"><strong>Happiness</strong> x<br /><strong>Generosity</strong></p>
            </a>
            &nbsp;&nbsp;
            <a href='#' data-text='Healthy life expectancy' class='btn-graphLifeExpectancy header-graph__btn'>Healthy
                life expectancy
                <p class="nav__dropdown"><strong>Happiness</strong> x<br /><strong>Healthy life expectancy</strong></p>
            </a>
            &nbsp;&nbsp;
        </div>
    </div>

    <div id="worldContainer" class="absolute top-0"></div>
    <script src="<%= htmlWebpackPlugin.files.js[1] %>"></script>
</body>

</html>